<section class="sample-image">
  <h3>Image transformation in action</h3>
  <mat-card>
    <mat-card-content>
      <section class="example-section">
        <mat-checkbox class="example-margin" [(ngModel)]="imgGrayScale" (ngModelChange)="inputsChanged($event)">Gray Scale</mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="imgInvert" (ngModelChange)="inputsChanged($event)">Invert</mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="imgFlip" (ngModelChange)="inputsChanged($event)">Flip</mat-checkbox>
      </section>
      <section class="commands">
        <button mat-raised-button color="primary" (click)="onApply()">APPLY</button> <button mat-raised-button color="accent" (click)="onReset()">RESET</button>
      </section>
    </mat-card-content>
  </mat-card>
  <div class="content">
    <span style="color:red;" *ngIf="message">{{message}}</span>
    <input #file type="file" accept='image/*' (change)="onSelectFile($event)" />
    <div class="image">
      <img [src]="imgURL" *ngIf="imgURL" [matAzonImageProc]="matAzonImageProcData" (srcChange)="onImgSrcChange($event)">
    </div>
  </div>
<section>



